.grid { margin:1em auto; border-collapse:collapse }
.grid td, div {
    cursor:pointer;
    width:30px; height:30px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif;
    font-size:13px;
    box-sizing:border-box;
}
.grid td.clicked {
    background-color:yellow;
    font-weight:bold;
    color:red;
}

div.grid{
    float:left;
}
.acclickedlbl{
    color:Crimson;
    border: none;
}
div.acclicked, td.acclicked{
    color:Crimson;
    background-color:Crimson;
}
.bsclickedlbl{
    color:DarkGreen;
    border:none;
}
div.bsclicked, td.bsclicked{
    color:DarkGreen;
    background-color:DarkGreen;
}
.declickedlbl {
    color:CadetBlue;
    border:none;
}
div.declicked, td.declicked {
    background-color:CadetBlue;
    color:CadetBlue;
}
.suclickedlbl {
    color:DarkRed;
    border:none;
}
div.suclicked, td.suclicked {
    background-color:DarkRed;
    color:DarkRed;
}
.pbclickedlbl {
    color:Gold;
    border:none;
}
div.pbclicked, td.pbclicked {
    background-color:Gold;
    color:Gold;
}
.pickFleet {
    text-align:center;
}
.shipblock {
    display: table-row;
}
