html
  head
    title="Battleship elsporko style"
    link(href='css/grid.css' rel='stylesheet' type='text/css')
    script(src='//cdn.jsdelivr.net/sockjs/1/sockjs.min.js')
    script(src='javascript/webstomp.min.js')
  body
    #register(style={ display:'none'})
      form
        p Handle:
        input(placeholder="Who are you")
        p
        #register Register

    #game(style={ display:'none'})
      p Directions
      ul Moving your own fleet
        li Drag boat to reposition
        li Click boat to change course heading (East/West <-> North/South)

      ul Offense
        li Click opponent's grid to attack
        li Drag mine onto opponent's grid to set a mine at that location

      aside#shiplist
        p.shiplabel.acclickedlbl Aircraft Carrier
        p.shiplabel.bsclickedlbl Battleship
        p.shiplabel.declickedlbl Destroyer
        p.shiplabel.suclickedlbl Submarine
        p.shiplabel.pbclickedlbl Patrol Boat

      #myGrid
        form
        #playerGrid
        #Megan Register Megan
        #Ryan Register Ryan

    script(src='javascript/bship.js')


        // Connect to RabbitMQ
        //bs_mq.connect();
