table.grid { margin:1em auto; border-collapse:collapse;
        border-collapse:collapse;
        border:1px solid #ccc;
        box-sizing:border-box;
        cursor:pointer;
        /*float: left;*/
        font-family:sans-serif;
        font-size:13px;
        text-align:center;
        height:300px;
        width:300px; 
}
.grid td.grid {
        border-collapse:collapse;
        border:1px solid #ccc;
        box-sizing:border-box;
        cursor:pointer;
        float: left;
        font-family:sans-serif;
        font-size:13px;
        text-align:center;
        height:30px;
        width:30px; 
}

#playGame{
    height: 25px;
    width: 125px;
}

.shiplist{
    float: left;
}
.cell{
    border:1px solid #ccc;
    border-collapse:collapse;
}

.acclickedlbl{
    color:Crimson;
    border: none;
}
div.acclicked, td.acclicked{
    color:Crimson;
    background-color:Crimson;
    border:none;
}
.bsclickedlbl{
    color:DarkGreen;
    border:none;
}
div.bsclicked, td.bsclicked{
    color:DarkGreen;
    background-color:DarkGreen;
    border:none;
}
.declickedlbl {
    color:CadetBlue;
    border:none;
}
div.declicked, td.declicked {
    background-color:CadetBlue;
    color:CadetBlue;
    border:none;
}
.suclickedlbl {
    color:Gold;
    border:none;
}
div.suclicked, td.suclicked {
    background-color:Gold;
    color:Gold;
    border:none;
    border:none;
}
.pbclickedlbl {
    color:DarkRed;
    border:none;
}
div.pbclicked, td.pbclicked {
    background-color:DarkRed;
    color:DarkRed;
    border:none;
}
div.instructions{
    width:100%;
    border: none;
    padding: 100px;
}
#instructions {
    padding:10px;
    float:left;
    width:100%;
    border:none;
    text-align:center;
    font-family:sans-serif;
}

.shiplabel {
    padding:10px;
    float:left;
    width:120px;
    border:none;
    text-align:left;
}

.move {
  border: 1px solid black;
  width: 300px;
  height: 50px;
}
.moveDetail{
  margin: auto;
  padding: 5px;
}
